<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/profile.jpeg" class="img-fluid" id="profilePicture">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">
            {{persona.nombre}} {{persona.apellido}}
        </p>
        <p>
            Full Stack Developer Junior
        </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>
                Acerca de Mi
            </h1>
            <p>
                Aliquip voluptate nisi minim anim aliqua deserunt nisi. Id commodo duis cillum anim ad velit incididunt non ad. Nostrud sit ea anim ad tempor amet cillum cupidatat voluptate laboris Lorem dolore exercitation id. Duis consequat labore culpa anim.
            </p>
        </span>
    </div>
</div>