<div class="row">
    <h1 class="card-title col">Educación</h1>
    <button class="btn col-1" href="#"><img src="../../../assets/plus-lg.svg"></button>
</div>
<div class="row">
    <div class="col-3 col-md-2 col-xl-1">
        <!-- Imagen -->
        <img src="../../../assets/blueScuare.jpg" style="width: 100%;" alt="Foto cuadrada Azul" class="img-fluid rounded">
    </div>

    <div class="col">
        <!-- Titulo y Cuerpo-->
        <h2>UTN</h2>
        <p>Ingeniería, Sistemas Computacionales, 0</p>
        <h3 style="color:gray;">2019 - 2023</h3>
    </div>
    
    <div class="btn-group col-2 col-xl-1">
        <!--Boton Editar-->
        <button class="btn" href="#"><img src="../../../assets/pencil-square.svg"></button>
        <!--Boton Eliminar-->
        <button class="btn" href="#"><img src="../../../assets/trash-fill.svg"></button>
    </div>
</div>
