<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Produccion de frutillas</h2>
            <p>Labore voluptate sit dolore tempor Lorem. Voluptate tempor non est deserunt anim magna. Dolore exercitation Lorem irure culpa fugiat adipisicing et deserunt ut reprehenderit nisi magna exercitation. Qui excepteur minim eu eu adipisicing.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/frutilla.jpg" class="img-fluid rounded img-project">
        </div>
    </div>
</div>
