<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [radius]="70"
        [showUnits]="false"
        [imageSrc]="'../assets/filetype-html.svg'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [title]="'HTML'"
        [showTitle]="false"
        [titleFontWeight]="'bold'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#9c27b0'"
        [innerStrokeColor]="'#d05ce3'"
        [animation]="true"
        [animationDuration]="400"
        ></circle-progress>
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="55"
        [radius]="70"
        [showUnits]="false"
        [imageSrc]="'../assets/bootstrap-fill.svg'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [title]="'Bootstrap'"
        [showTitle]="false"
        [titleFontWeight]="'bold'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#9c27b0'"
        [innerStrokeColor]="'#d05ce3'"
        [animation]="true"
        [animationDuration]="400"
        ></circle-progress>
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="70"
        [showUnits]="false"
        [imageSrc]="'../assets/filetype-sql.svg'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [title]="'SQL'"
        [showTitle]="false"
        [titleFontWeight]="'bold'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#9c27b0'"
        [innerStrokeColor]="'#d05ce3'"
        [animation]="true"
        [animationDuration]="400"
        ></circle-progress>
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [showUnits]="false"
        [imageSrc]="'../assets/search.svg'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [title]="'Searching'"
        [showTitle]="false"
        [titleFontWeight]="'bold'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#9c27b0'"
        [innerStrokeColor]="'#d05ce3'"
        [animation]="true"
        [animationDuration]="400"
        ></circle-progress>
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="70"
        [showUnits]="false"
        [imageSrc]="'../assets/chat-dots.svg'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [title]="'Comunication'"
        [showTitle]="false"
        [titleFontWeight]="'bold'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#9c27b0'"
        [innerStrokeColor]="'#d05ce3'"
        [animation]="true"
        [animationDuration]="400"
        ></circle-progress>
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="70"
        [showUnits]="false"
        [imageSrc]="'../assets/translate.svg'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [title]="'English'"
        [showTitle]="false"
        [titleFontWeight]="'bold'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#9c27b0'"
        [innerStrokeColor]="'#d05ce3'"
        [animation]="true"
        [animationDuration]="400"
        ></circle-progress>
    </div>
</div>
